---
layout: default
---

<div id="home">
	<h1>{{ site.title }}</h1>
	<hr />

	<!-- <ol class="posts">
    {% for post in paginator.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> &raquo; <i><span>{{ post.date | date_to_string }}</span></i></li>
    {% endfor %}
  </ol> -->
	<ul class="xjw-blogs">
		
		{% for postsList in site.data.posts %}
		<li>
			<a href="{{ postsList.url }}" target="_blank">
				<div class="blogs-image">
					<img src="{{ postsList.articleImage }}" alt="{{ postsList.title }}">
				</div>
				<div class="blogs-msg">
					<h4 class="blogs-title">{{ postsList.title }}</h4>
					<p class="blogs-summary">{{ postsList.summary }}</p>
					<div class="blogs-frag">
						
						<img src="{{ postsList.authorImage }}">
						<span class="blogs-author">{{ postsList.author }}</span>
						<i class="blogs-date">{{ postsList.date }}</i>
					</div>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>

</div><!-- end #home -->
